streamlit
pandas
playwright
openpyxl
chromium
python-dotenv
2captcha-python
fpdf
nest_asyncio
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
stripe
beautifulsoup4
requests
duckduckgo-search
flask
dnspython
pytest
pytest-cov